---
import "@/styles/global.css"
interface Props {
    title?: string | undefined;
    description?: string | undefined;
}

const { title = "Local GPT", description = "ChatGPT Grautito"} = Astro.props
---
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="description" property="og:description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>

	<script is:inline>
		!function() {
    		try {
        		let d = document.documentElement;
        		let c = d.classList;
				
        		c.remove('light', 'dark');
				
        		let e = localStorage.getItem('theme');
				
        		if ('system' === e || (!e && true)) {
        		    let t = '(prefers-color-scheme: dark)';
        		    let m = window.matchMedia(t);
				
        		    if (m.media !== t || m.matches) {
        		        d.style.colorScheme = 'dark';
        		        c.add('dark');
        		    } else {
        		        d.style.colorScheme = 'light';
        		        c.add('light');
        		    }
        		} else if (e) {
        		    c.add(e || '');
        		}
			
        		if (e === 'light' || e === 'dark') {
        		    d.style.colorScheme = e;
        		}
    		} catch (e) {}
		}();
	</script>
</html>